
{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}


{% block page_title %}{{ settings.PROJECT_NAME }}{% endblock %}
{% block page_subtitle %}{{ settings.SITE_TITLE }}{% endblock page_subtitle %}


{% block content_nl %}

    <p>
        <b>Open Notificaties</b> is een modern en open source component voor het routeren van berichten tussen componenten,
        systemen en applicaties. Het implementeert de gestandaardiseerde <b>VNG Notificaties API</b>.
    </p>
    <p>
        Dit component is afhankelijk van een <b>Autorisaties API</b> voor regelen van autorisaties en kan o.a.
         gebruikt worden in combinatie met de API's voor Zaakgericht werken zoals geimplementeerd in <b>Open Zaak</b>.
    </p>
    <p>
        <b>Open Notificaties</b> is gebaseerd op de broncode van de referentie implementatie van
         <b>VNG Realisatie</b> om stabiele API te realiseren die in productie gebruikt kan worden bij gemeenten.
    </p>

{% endblock content_nl %}

{% block content_en %}

    <p>
        <b>Open Notifications</b> is a modern, open-source component for routing messages between components,
         systems, and applications. It implements the standardized <b>VNG Notifications API</b>.
    </p>
    <p>This component relies on an <b>Authorizations API</b> for arranging authorizations and can be used in combination
         with the APIs for Zaak work as implemented in <b>Open Zaak</b>.
    </p>

    <p>
        <b>Open Notifications</b> is based on the source code of the reference implementation of
         <b>VNG Realisatie</b> to create a stable API that can be used in production by municipalities.
    </p>

{% endblock content_en %}

{% block license_link %}https://github.com/open-zaak/open-notificaties/blob/main/LICENCE.md{% endblock %}


{% block api_links %}
    {% url 'schema-redoc' version=version as api_docs_link %}
    {% url 'vng_api_common:scopes' as api_scopes_link %}

    <a href="{{ api_docs_link }}" class="button">
        <i class="fas fa-wifi" aria-hidden="true"></i>
        {% trans "API docs (ReDoc)" %}
    </a>
    <a href="{{ api_scopes_link }}" class="button">
        <i class="fas fa-file-alt" aria-hidden="true"></i>
        {% trans "API scopes" %}
    </a>
{% endblock %}


{% block extra_buttons %}
    <div class="button-group">
        <a href="{% url 'view-config' %}" class="button">
            <i class="fas fa-info-circle" aria-hidden="true"></i>
            {% trans "View configuration" %}
        </a>
    </div>
{% endblock %}
