interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIiLCJpYXQiOjE3NTYzOTI2MjEsImV4cCI6MTc1NjQzNTgyMSwiY2xpZW50X2lkIjoiIiwidXNlcl9pZCI6IiIsInVzZXJfcmVwcmVzZW50YXRpb24iOiIifQ.aIrP9mZNUQSJXc9d2kIcF6A_zOQmG5mk3qcqeCVdgVU
      Content-Type:
      - application/json
    method: GET
    uri: https://autorisaties-api.vng.cloud/api/v1/applicaties?clientIds=
  response:
    body:
      string: '{"type":"https://autorisaties-api.vng.cloud/ref/fouten/PermissionDenied/","code":"invalid-client-identifier","title":"Je
        hebt geen toestemming om deze actie uit te voeren.","status":403,"detail":"Client
        identifier bestaat niet","instance":"urn:uuid:7a601f7b-4620-4323-af9d-5da02c9cdcae"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Api-Version:
      - 1.0.0
      Content-Type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIiLCJpYXQiOjE3NTYzOTI2MjEsImV4cCI6MTc1NjQzNTgyMSwiY2xpZW50X2lkIjoiIiwidXNlcl9pZCI6IiIsInVzZXJfcmVwcmVzZW50YXRpb24iOiIifQ.aIrP9mZNUQSJXc9d2kIcF6A_zOQmG5mk3qcqeCVdgVU
    method: GET
    uri: https://example.com/api/v1/kanaal
  response:
    body:
      string: "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system,
        system-ui, BlinkMacSystemFont, \"Segoe UI\", \"Open Sans\", \"Helvetica Neue\",
        Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width:
        600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color:
        #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px
        rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n
        \       text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div
        {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n
        \   </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n
        \   <p>This domain is for use in illustrative examples in documents. You may
        use this\n    domain in literature without prior coordination or asking for
        permission.</p>\n    <p><a href=\"https://www.iana.org/domains/example\">More
        information...</a></p>\n</div>\n</body>\n</html>\n"
    headers:
      Content-Type:
      - text/html
      ETag:
      - '"84238dfc8092e5d9c0dac8ef93371a07:1736799080.121134"'
      Last-Modified:
      - Mon, 13 Jan 2025 20:11:20 GMT
    status:
      code: 404
      message: Not Found
[...]
