oidc_db_config_enable: True
oidc_db_config_admin_auth:
  providers:
  - identifier: admin-oidc
    oidc_use_nonce: true
    oidc_nonce_size: 32
    oidc_state_size: 32
    endpoint_config:
        oidc_op_authorization_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/auth
        oidc_op_jwks_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/certs
        oidc_op_token_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/token
        oidc_op_user_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/userinfo
  items:
  - identifier: admin-oidc
    enabled: true
    oidc_rp_client_id: testid
    oidc_rp_client_secret: 7DB3KUAAizYCcmZufpHRVOcD0TOkNO3I
    oidc_rp_scopes_list:
    - openid
    - email
    - profile
    oidc_rp_sign_algo: RS256
    oidc_provider_identifier: admin-oidc
    userinfo_claims_source: id_token
    options:
      user_settings:
        claim_mappings:
          username:
            - sub
          first_name:
            - given_name
          email:
            - email
        username_case_sensitive: true
      groups_settings:
        claim_mapping:
          - groups
        sync: true
        sync_pattern: '*'
        default_groups: []
        make_users_staff: true
        superuser_group_names:
          - Registreerders

zgw_consumers_config_enable: True
zgw_consumers:
  services:
    - identifier: autorisaties-api
      label: Autorisaties API
      api_root: http://openzaak:8000/autorisaties/api/v1/
      api_type: ac
      auth_type: zgw
      client_id: open-notificaties
      secret: oPMsHCEuoP9Qh8vP06D7
      user_id: open-notificaties
      user_representation: Open Notificaties
    - identifier: notificaties-api
      label: Notificaties API
      api_root: http://web:8000/api/v1/
      api_type: nrc
      auth_type: zgw
      client_id: open-notificaties
      secret: oPMsHCEuoP9Qh8vP06D7
      user_id: open-notificaties
      user_representation: Open Notificaties Demodam

autorisaties_api_config_enable: True
autorisaties_api:
  # Configure Open Notificaties to make use of Open Zaak's Autorisaties API
  authorizations_api_service_identifier: autorisaties-api

vng_api_common_credentials_config_enable: True
vng_api_common_credentials:
  items:
    # Credentials for Open Zaak to be able to make requests to Open Notificaties
    - identifier: open-zaak
      secret: G2LIVfXal1J93puQkV3O
    # Credentials for Open Notificaties, required for autorisaties subscription
    - identifier: open-notificaties
      secret: oPMsHCEuoP9Qh8vP06D7

notifications_kanalen_config_enable: true
notifications_kanalen_config:
  items:
    - naam: autorisaties
      documentatie_link: http://openzaak:8000/ref/kanalen/#/autorisaties
      filters: []
    - naam: besluittypen
      documentatie_link: http://openzaak:8000/ref/kanalen/#/besluittypen
      filters:
        - catalogus
    - naam: informatieobjecttypen
      documentatie_link: http://openzaak:8000/ref/kanalen/#/informatieobjecttypen
      filters:
        - catalogus
    - naam: zaaktypen
      documentatie_link: http://openzaak:8000/ref/kanalen/#/zaaktypen
      filters:
        - catalogus
    - naam: zaken
      documentatie_link: http://openzaak:8000/ref/kanalen/#/zaken
      filters:
        - bronorganisatie
        - zaaktype
        - vertrouwelijkheidaanduiding
    - naam: documenten
      documentatie_link: http://openzaak:8000/ref/kanalen/#/documenten
      filters:
        - bronorganisatie
        - informatieobjecttype
        - vertrouwelijkheidaanduiding
    - naam: besluiten
      documentatie_link: http://openzaak:8000/ref/kanalen/#/besluiten
      filters:
        - verantwoordelijke_organisatie
        - besluittype

notifications_abonnementen_config_enable: true
notifications_abonnementen_config:
  items:
    - uuid: ff5a9438-6512-4c2d-b69e-6c512c466fb8
      callback_url: http://openzaak:8000/api/v1/callback
      auth: Token foo
      kanalen:
        - filters:
            zaaktype: http://openzaak:8000/catalogi/api/v1/zaaktypen/d0b3a90d-7959-4699-8bdb-bf228aef5e21
          naam: zaken
        - filters:
            vertrouwelijkheidaanduiding: beperkt_openbaar
          naam: zaken
    - uuid: 03baec5a-93ef-4ba6-bb73-c548c12009a2
      callback_url: http://openzaak:8000/api/v1/other-callback
      auth: Token bar
      kanalen:
        - naam: zaken
    - uuid: 0f616bfd-aacc-4d85-a140-2af17a56217b
      callback_url: http://web:8000/api/v1/callbacks
      auth: Bearer foo
      kanalen:
        - naam: autorisaties
    - uuid: 482a09ff-286b-4d0f-a1b8-9b99c1eac0f8
      callback_url: http://web:8000/api/v1/other-callback
      auth: Token bar
      send_cloudevents: true
      cloudevent_filters:
        - zaak.created
        - nl.overheid

sites_config_enable: true
sites_config:
  items:
    - domain: example.com
      name: Open Notificaties

notifications_config_enable: true
notifications_config:
  notifications_api_service_identifier: notificaties-api
  notification_delivery_max_retries: 2
  notification_delivery_retry_backoff: 2
  notification_delivery_retry_backoff_max: 3

notifications_subscriptions_config_enable: true
notifications_subscriptions_config:
  items:
    - identifier: autorisaties-subscription
      callback_url: http://web:8000/api/v1/callbacks
      client_id: open-notificaties
      secret: oPMsHCEuoP9Qh8vP06D7
      uuid: 0f616bfd-aacc-4d85-a140-2af17a56217b
      channels:
        - autorisaties
