name: Code quality checks

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches:
      - main 
  pull_request: 
  workflow_dispatch:

jobs:
  open-api-workflow-code-quality:
    uses: maykinmedia/open-api-workflows/.github/workflows/code-quality.yml@v6
    with:
      python-version: '3.12'
      node-version: '24'

      django-settings-module: 'nrc.conf.ci'
